.config/discord/
.config/go/
.config/dconf
.config/Signal
.config/obsidian
.config/pulse
.config/spotify
.config/FreeCAD
.config/Unknown Organization
.config/QtProject.conf
.config/gh
.config/godot
.config/unity3d
.config/Electron
.config/easyeffects
.config/systemd**
.config/pipewire
.config/Moonlight Game Streaming Project

